.root {
  font-size: 20px;
  line-height: 20px;

  display: flex;
  .el {
    &:not(:first-of-type){
      margin-left: 15px;
    }
    display: flex;
    align-items: center;

    .name {
      display: flex;
      flex-flow: column nowrap;
      font-size: 16px;
      line-height: 16px;
    }
  }
}
